<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/stil.css">
	<link rel="icon" href="data:,">
	<script src="/static/delilnica.js"></script>
	<title>Delilnica</title>
</head>

<body>
	<div class="okvir">
		<h1><a class="naslov" href="/">Delilnica</a></h1>
{% block opis %}{% endblock opis %}

{% if not prijavljen %}
		<p><a id="prijava_gumb" href="#" onclick="odpri_prijavo(); return false;">Prijava</a></p>
{% else %}
		<p>Prijavljen kot {{ vzd }} — <a id="odjavi" href="#" onclick="odjavi(); return false;">Odjavi</a>
		<p id="admin_gumb" style="/*display: none;*/"><a href="/admin">Administracija</a></p>
{% endif %}

		<div id="prijava_okvir" style="display: none;">
			<form id="prijava_obrazec" onsubmit="prijavi_uporabnika(); return false;">
				<label for="vzdevek">Vzdevek:</label>
				<input name="vzdevek" id="vzdevek">

				<label for="geslo" style="margin-left: 15px;">Geslo:</label>
				<input name="geslo" id="geslo" type="password">

				<input type="submit" value="Potrdi" style="margin-left: 15px;">
				<p>Ni računa? <a href="/register">Registracija</a></p>
			</form>
		</div>

		<div id="odgovor"></div>
		<hr>

		<div id="fragment">
{% block jedro %}{% endblock jedro %}
		</div>
		<hr>
		<p>Nejc Bertoncelj, maj-junij 2024</p>
	</div>
</body>

</html>
