{% extends "base.html" %}

{% block opis %}
<p>Tukaj je, enostavna metoda za deljenje raznoraznih programskih in besedilnih izsekov, imenovanih <b>fragmenti</b>.</p>
{% endblock opis %}

{% block jedro %}
<h2>Dodaj fragment</h2>
<form id="fragment_obrazec" onsubmit="oddaj_fragment(); return false;">
	<div>
		<label for="ime">Naslov</label>
		<br>
		<input name="ime" id="ime">
	</div>

	<div id="ime" style="margin: 0 auto; margin-top: 10px;">
		<label>Avtor</label>
		<p style="background-color: whitesmoke;">{% if prijavljen %}{{ vzd }}{% else %}<i>anonimnež</i>{% endif %}</p>
	</div>

	<div>
		<label for="besedilo">Besedilo</label>
		<br>
		<textarea name="besedilo" id="besedilo"></textarea>
		<br>
{% if prijavljen %}
		<label for="zaseben">Fragment je zaseben</label>
		<input name="zaseben" id="zaseben" type="checkbox">
{% endif %}
	</div>

	<div>
		<input type="submit" value="Oddaj">
	</div>
</form>
{% endblock jedro %}
