{% extends "base.html" %}
{% block jedro %}

<h2>Registracija</h2>
{% if status == 1 %}
	{% if not prijavljen %}
<form id="registracija_obrazec" onsubmit="registriraj_uporabnika(); return false;">
	<div>
		<label for="reg_vzdevek">Vzdevek</label>
		<br>
		<input name="reg_vzdevek" id="reg_vzdevek">
	</div>

	<div>
		<label for="reg_enaslov">E-poštni naslov</label>
		<br>
		<input name="reg_enaslov" id="reg_enaslov">
	</div>

	<div>
		<label for="reg_geslo">Geslo</label>
		<br>
		<input name="reg_geslo" id="reg_geslo" type="password">
	</div>

	<div>
		<input type="submit" value="Potrdi">
	</div>
</form>
	{% else %}
	<div class="obvestilo napaka">
		<p>Prijavljeni ste že.</p>
	</div>
	{% endif %}
{% else %}
	{% if success %}
	<div class="obvestilo uspeh">
		<p>Uspeh</p>
	</div>
	{% else %}
	<div class="obvestilo napaka">
		<p>Napaka: {{ response }}</p>
		<p><a href="">Nazaj</a></p>
	</div>
	{% endif %}
{% endif %}
{% endblock jedro %}
