{% extends "base.html" %}
{% block jedro %}

<h2>Registracija</h2>
{% if status == 1 %}
	{% if not prijavljen %}
<form method="POST" action="/register">
	<div>
		<label for="vzdevek">Vzdevek</label>
		<br>
		<input name="vzdevek" id="vzdevek">
	</div>

	<div>
		<label for="enaslov">E-poštni naslov</label>
		<br>
		<input name="enaslov" id="enaslov">
	</div>

	<div>
		<label for="geslo">Geslo</label>
		<br>
		<input name="geslo" id="geslo" type="password">
	</div>

	<div>
		<input type="submit" value="Potrdi">
	</div>
</form>
	{% else %}
	<div class="obvestilo napaka">
		<p>Prijavljeni ste že.</p>
	</div>
	{% endif %}
{% else %}
	{% if success %}
	<div class="obvestilo uspeh">
		<p>Uspeh</p>
	</div>
	{% else %}
	<div class="obvestilo napaka">
		<p>Napaka: {{ response }}</p>
		<p><a href="">Nazaj</a></p>
	</div>
	{% endif %}
{% endif %}
{% endblock jedro %}
